*::before,
*::after {
    box-sizing: border-box;
    line-height: 1.5em;
}

html {
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 6px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

/* optional: show position indicator in black */
::-webkit-scrollbar-thumb {
    background: #2d1258;
}

*::selection {
    background-color: #2d1258;
    color: white;
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.parallax {
  min-height: 100vh;
  background: linear-gradient(#2b1055, #7597de);
  overflow-x: hidden;
}

.navi {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  position: relative;

  width: 100%;
  height: 50px;
  background: white;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  position: relative;
  display: inline-block;
  font-size: 1em;
  font-weight: 1000;
  color: black;
  text-decoration: none;
  padding: 0 23px;
  z-index: 1;
}
#menu{
  left:0;
}
nav span {
  position: absolute;
  top: 0;
  left: 24%;
  width: 95px;
  height: 100%;
  background: linear-gradient(to top, #cc208e 0%, #6713d2 100%);
  border-radius: 8px;
  transition: .5s;
}

nav a:nth-child(1):hover~span {
  left: 24%;
}

nav a:nth-child(2):hover~span {
  left: 32%;
}

nav a:nth-child(3):hover~span {
  left: 41%;
  width: 120px;
}

nav a:nth-child(4):hover~span {
  left: 50%;
}

nav a:nth-child(5):hover~span {
  left: 58%;
}

nav a:nth-child(6):hover~span {
  left: 65%;
  width: 120px;
}

.elementContainer:hover .left {
  width: 0px;
}

.elementContainer:hover .right {
  width: 0px;
}

.elementContainer:hover::after {
  opacity: 0;
  transition: opacity 0.2s 0s;
}

.elementContainer {
  margin-top: -10%;
  background: white;
  background-image: white;
  min-height: 1em;
  position: relative;
  text-align: center;
  color: black;
  cursor: pointer;
  min-width: 60px;
  padding: 0 0.4%;
  margin-right: 50px;
  float: left;
}

.elementContainer::after {
  font-size: 1em;
  display: inline;
  position: absolute;
  width: 50%;
  text-align: center;
  top: 100%;
  transform: translateY(-58%);
  left: 0;
  transition: opacity 0.5s 0.5s;
}

.elementContainer .logo {
  padding: 70px;
  transition: background-color 0.3s;
}

.elementContainer .logo:hover {
  background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
  border-radius: 30px;
}

.left,
.right {
  min-height: 1em;
  background: white;
  background-image: linear-gradient(315deg, #ba9a8e 0%, #96705b 74%);
  position: absolute;
  top: 0px;
  bottom: 0px;
  transition: 1s;
  width: 50%;
}

.left {
  left: 0px;

}

.right {
  right: 0px;
}

.textbox {
  padding-top: 40px;
 padding-right:7%;
 text-align: justify;
text-justify: inter-word;
margin-left:63%;
/* color: white; */
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

section img#moon {
  mix-blend-mode: screen;

}

#text {
  position: absolute;
  color: white;
  white-space: nowrap;
  font-size: 8vw;
  z-index: 19;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  background: url(../Images/back.png);
  background-clip: border-box;
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
}

@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}

section img#mountains-front {
  z-index: 10;
}

section::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #1c0522, transparent);
  z-index: 100;

}

#sec {
  position: relative;
  padding: 100px;
  background: #1c0522;
  text-align: justify;
  text-justify: inter-word;
}

#sec h2 {
  text-align: center;
  font-size: 3.5em;
  color: white;
  margin-bottom: 6%;
}

#sec p {
  font-size: 1.2em;
  color: white;

}

#btn {
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 40px;
  background: white;
  color: #2b1055;
  font-size: 1.5em;
  z-index: 19;
  transform: translateY(100px);
  text-align:center;
}

.images {
  margin-top: 170px;
  background: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
  height: 600px;
}

.slider {
  margin-top: 300px;
  margin-left: 450px;
  position: relative;
  justify-content: center;
  width: 270px;
  height: 270px;
  transform-style: preserve-3d;
  animation: rotate 30s linear infinite;
  cursor: pointer;
}

.slider span {
  margin-top: 150px;
}

@keyframes rotate {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }

  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}

.slider span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i)*45deg)) translateZ(360px);
}

.slider span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  object-fit: cover;
  transition: 2s;
}

.slider span:hover img {
  transform: translateY(-50px)scale(1.2);
}

.final {

  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 100vh;
}

footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: rgb(116, 106, 255);
  /* background: radial-gradient(939px at 0.7% 2.4%, rgb(116, 106, 255) 50%, rgb(229, 210, 246) 100.2%); */
  height: 190px;
  padding: 0 0;
  margin-top: 20%;
  flex-direction: column;
}

footer .social-icons,
footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

footer .social-icons li,
footer .menu li {
  list-style: none;
}

footer .social-icons li a {
  font-size: 2em;
  color: black;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .social-icons li a {
  transform: translateY(-10px);
}

footer .menu li a {
  font-size: 1.4em;
  color: black;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  opacity: 0.75;
  transition: 0.5s;
  font-weight: bold;
}

footer .menu li a:hover {

  opacity: 1;
}

footer p {
  color: #fff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
  opacity: 0.75;
}


footer .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: #fff url(../Images/wave1.png);
  background-size: 1000px 100px;

}

footer .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animatewave 4s linear infinite;
}

footer .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 0;
  animation: animatewave-02 4s linear infinite;
}

footer .wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animatewave-02 3s linear infinite;
}

footer .wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animatewave-02 3s linear infinite;
}


@keyframes animatewave {
  0% {
    background-position-x: 1000px;
  }

  100% {
    background-position-x: 0px;
  }

}

@keyframes animatewave-02 {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: 1000px;
  }

}


.zoom li a {
  transition: 1s;
}

.zoom li a:hover {
  transform: scale(1.1);
}

.animated {
  box-sizing: border-box;
  position: relative;
  margin-top: 60px;
  margin-left: 60%;
  width: 500px;
  height: 20vh;
  background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
}

.animated h6 {
  font-size: 40px;
  /* text-align: center; */
}

.animated h6 {
  background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
  position: relative;
  -webkit-text-stroke: 0.3vw linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
  text-transform: uppercase;
}

.animated h6::before {
  content: attr(data-text);
  position: absolute;
  color: white;
  -webkit-text-stroke: 0vw linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
  border-right: 2px solid white;
  overflow: hidden;
  animation: animate 6s linear infinite;
}

@keyframes animate {

  0%,
  10%,
  100% {
    width: 0;
  }

  70%,
  90% {
    width: 100%;
  }
}
@media(max-width:1047px){
.elementContainer{
  width:100%;
  margin-top:4px;
}
.elementContainer .logo{
  padding:2%;
  width:75%;
  height: 60%;
}
.animated{
 margin-left:0%;
 margin-top:6%;
 display:grid;
 position:relative;
 width:100%;
 text-align: center;
}

/* .animated h6:nth-child(1){
  margin-right:50%;
}
.animated h6:nth-child(2){
  margin-left:50%;
  margin-top:-10%;

} */
.animated h6::before{
  animation: none;
  position: absolute;
  border-right: none; 
 }
  .textbox{
  padding:3%;
  justify-content: center;  
  display: block;
  margin-top:9%;
  margin-left:0;
  }
#sec{
  padding:4%;
}
}
