@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    line-height: 1.5em;
}

html {
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 6px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

/* optional: show position indicator in black */
::-webkit-scrollbar-thumb {
    background: #2d1258;
}

*::selection {
    background-color: #2d1258;
    color: white;
}

nav {
	position: relative;
	width: 100%;
	height: 50px;
	background: transparent;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  nav a {
	position: relative;
	display: inline-block;
	font-size: 1em;
	font-weight: 1000;
	color: black;
	text-decoration: none;
	padding: 0 23px;
	z-index: 1;
  }
  
  nav span {
	position: absolute;
	top: 0;
	left: 24%;
	width: 95px;
	height: 100%;
	background: linear-gradient(to top, #cc208e 0%, #6713d2 100%);
	border-radius: 8px;
	transition: .5s;
  }

.team{
	position: relative;
	width: 100%;
	height: 100%;
	padding:2%;
	background: radial-gradient(#7597de, #2b1055);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.team-content{
	width: 100%;
	max-width: 1350px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, auto));
	align-items: center;
	gap: 2rem;
	text-align: center;
	margin-top: 1rem;
}


.header-context{
	border-radius: 15px;
	margin-top: 3rem;
}
.team-content img{
	width: 100%;
	height: auto;
	border-radius: 15px;
	margin-bottom: 15px;
}
.center h1{
	color: #fff;
	font-size: 4rem;
	text-align: center;
}
.box{
	padding: 16px;
	background: #1b1229;
	border-radius: 15px;
	transition: all .38s ease;
}
.box h3{
	font-size: 23px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 8px;
}
.box h5{
	font-size: 15px;
	font-weight: 600;
	color: #b7b4bb;
	margin-bottom: 15px;
	letter-spacing: 2px;
}
.icons i{
	display: inline-block;
	color: #fff;
	font-size: 20px;
	margin: 0 8px;
	transition: all .38s ease;
}
.icons i:hover{
	transform: scale(1.2);
}
.box:hover{
	transform: translateY(-10px);
	cursor: pointer;
}

@media(max-width: 1240px){
	.team{
		width: 100%;
		height: auto;
		padding: 90px 2%;
	}
	.center h1{
		font-size: 3.2rem;
	}
}