@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

footer{
    background: linear-gradient(to right,#00093c,#00093c,#f1cc0f) ;
    width: 100%;
    position: absolute;
    bottom: 0;
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius:125px;
    font-size:14px;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
}
.row{
    width:85%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content:space-between;
}
.col{
    flex-basis: 25%;
    padding: 10px;
}
.logo{
    width: auto;
    height: auto;
    padding-bottom: 20px;
}

.link a{
    text-decoration: none;
    color: #fff;
}
.link:hover{
    border-bottom: 1px solid #fff;
}